In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cardio_train.csv", sep=';')

In [3]:
df.head(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df['age'] = df.age.apply(lambda x:x//365)

calculating bmi(Body mass index) using (df.weight/df.height/df.height)*10000
https://www.medicalnewstoday.com/articles/323622.php

In [5]:
bmi = round((df.weight/df.height/df.height)*10000)
cat_bmi = []
for n in bmi:
    if n <19:
        val = 2
    elif n>19 and n<25:
        val = 1
    elif n>25 and n<30:
        val = 3
    else:
        val = 4
    cat_bmi.append(val)

In [6]:
df['bmi'] = cat_bmi

calculating blood pressure category and encoding it.
https://www.webmd.com/hypertension-high-blood-pressure/guide/diastolic-and-systolic-blood-pressure-know-your-numbers#1

In [7]:
bpc = []
for n,v in zip(df.ap_hi, df.ap_lo):
    if n <= 120 and v <= 80:
        val = 1
    elif n>120 and n<130 and v<80:
        val = 2
    elif n>=130 and n<140 or v>80 and n<89:
        val =3
    elif n>=140 and n<180 or v>=90 and v<120:
        val = 4
    elif n >=180 or v >=120:
        val = 5
    bpc.append(val)

In [8]:
df['bpc'] = bpc

catergorising by age group

In [9]:
ageq = []
for a in df.age:
    if a<=30:
        val = 1
    elif a>30 and a<=40:
        val = 2
    elif a>40 and a<=50:
        val = 3
    else:
        val = 4
    ageq.append(val)

In [10]:
df['age'] = ageq

droping columns

In [11]:
df = df.drop(['id','height','weight','ap_hi','ap_lo'], axis=1)

In [12]:
df.head(5)

   age  gender  cholesterol  gluc  smoke  alco  active  cardio  bmi  bpc
0    3       2            1     1      0     0       1       0    1    1
1    4       1            3     1      0     0       1       1    4    4
2    4       1            3     1      0     0       0       1    1    3
3    3       2            1     1      0     0       1       1    3    4
4    3       1            1     1      0     0       0       0    1    1

saving final csv file

In [13]:
df.to_csv("final_cardio.csv", index=False)